

.aboutusBackground {
  background-color: #17212B;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  margin: 0;
  padding: 0;
 
}



.why {
  font-family: 'font-family: 'Playfair Display', serif';
  font-weight: bold;
  font-size: 120px;
  color: #fe5e54;
  margin-top: -450px;
  margin-left: 610px;
  position: absolute;
} 

.career{
  font-family: 'font-family: 'Playfair Display', serif';
  font-weight: bold;
  font-size: 120px;
  color: #fe5e54;

  margin-left: 450px;
  margin-top: -320px;
  position: absolute;
}

.whyPara {
  color: white;
  font-size: 50px;
  margin-left: 450px;
  margin-top: -190px;
  position: absolute;
}



.explore {
  font-family: 'font-family: 'Playfair Display', serif';
  font-weight: bold;
  font-size: 100px;
  color: #fe5e54;
  text-align: center;
  margin-top: 250px;
}

.mentor {
  font-family: 'font-family: 'Playfair Display', serif';
  font-weight: bold;
  font-size: 100px;
  color: #fe5e54;
  text-align: center;
}

.connect {
  font-family: 'font-family: 'Playfair Display', serif';
  font-weight: bold;
  font-size: 100px;
  color: #fe5e54;
  text-align: center;
}

.para {
  color: white;
  font-size: 30px;
  padding-left: 300px;
  padding-right: 300px;
}