
.nav {
    height: 70px;
    background-color: #2e2B59 ;

  }
  
  .logo{
    color: #fff;
    justify-self: start;
    margin-left: 50px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: right;
    font-family: righteous, cursive;
  }
  
  .lift {
    animation: slideUp ease .7s forwards;
  }
  
  @keyframes slideUp {
    0% {transform: translateY(20px);}
    100% {transform: translateY(0px);opacity:1;}
  }
  
    .links {
    text-align: right;
    padding-right: 20px;
  }
  
  
  .career {
    color: rgb(220, 220, 236);
    text-decoration: none;
  }
  
  .lift{
    color: rgb(255, 255, 255);
    text-decoration: none;
  
  }
  
  .mainSection, .aboutUs, .login, .signup {
    color: rgb(255, 255, 255);
    text-decoration: none;
    text-align: right;
    padding: 10px;
    margin-right: 10px;
    font-size: 20px;
  
  }
  
  .mainSection:hover {
    color: #ACB0A3;
    font-size: 25px;
  
  }
  .aboutUs:hover{
    color: #ACB0A3;
    font-size: 25px;
  
  }
   .login:hover{
    color: #ACB0A3;
    font-size: 25px;
  
  }
   .signup:hover{
    color: #ACB0A3;
    font-size: 25px;
  
  }
  
  
  