
.bGround {
    background: #17212B
    }
    
  
    .contactForm{
        background-color: #262855;
        padding: 10px;
        margin-top: 25px;
        margin-left: 400px;
        text-align: center;
        border-radius: 25px;
        width: 625px;
        height: 630px;
        z-index: 0;
        margin-bottom: 25px;
       
    }
    
    .contactFormBody {
        background-color: white;
        text-align: left;
        border-radius: 25px;
        width: 625px;
        height: 435px;
        justify-content: center;
    
    }
    .contactHeader {
        font-family: 'Merriweather Sans', sans-serif;    
        font-size: 50px;
        color: white;
        text-align: center;
        
        
    }
    
    .contactInfo {
        font-family: 'Poppins',sans-serif;
        font-size: 20px;
        color: white;
        text-align: center;
    }
    
    
    ::placeholder{
      color:#262855;
      font-size: 20px;
      padding: 10px;
    }
    
    .title{
        display: inline-block;
        width: 200px;
        text-align: left;
        background: transparent;
        outline: none;
        margin-left: 75px;
        margin-top: 50px;
        color:#262855;
        border:none;
        border-bottom: 1px solid #262855;
        font-family: 'Poppins',sans-serif;
        font-size: 20px;
    
    }
    
    
    
    
    .location {
      display: inline-block;
      width: 200px;
      text-align: left;
      background: transparent;
      outline: none;
      margin-left: 75px;
      margin-top: 50px;
      color:#262855;
      border:none;
      border-bottom: 1px solid #262855;
      font-family: 'Poppins',sans-serif;
      font-size: 20px;
    }
    

    
    
    .submitBtn{
      border-radius: 1rem;
      background-color:#262855;
      border:rgb(136, 137, 224);
      width: 150px;
      height: 50px;
      transition: all 0.5s;
      font-size: 25px;
      color: 4791fd;
      font-family: 'Poppins', sans-serif;
      display: inline-block;
      position: relative;
      transition: 0.5s;
      margin-left: 220px;
      margin-bottom: 20px;
      margin-top: 8px;
      justify-content: center;
      text-decoration: none;
      color: #ffffff;
     
    
    }
    
    .submitBtn:hover{
        font-size: 30px;
        opacity: .6;
        text-decoration: none;
    }